/** How the F**K can i override twitters tiny button size? **/
iframe[id*="twitter-widget"] {
    width:"100%";
}

header {
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

header h1 {
    color:#FFFFFF;
    font-size: 3.6em;
}

header h2 {
    color:#FFFFFF;
    font-weight: 300;
}

section {
    display: row;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color:rgb(246, 246, 246);
}

span {
    display: block;
}

h2 {
    text-align: center;
    font-size: 2.4vh;
    line-height: 2.8vh;
}

.schedule {
    height: 16vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}

.date {
    width: 15vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    user-select: none;
}

.date .day {
    font-size: 2vmin;
    text-transform: uppercase;
}

.date .date {
    font-size: 6vmin;
}

.date .month {
    font-size: 2.7vmin;
    text-transform: uppercase;
}

.scroll-box {
    overflow: visible;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    list-style: none;
    padding: 1vw;
}

.scroll-card {
    width: 100vw;
    flex: 0 0 46vw;
    background-color: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.15);
    border-radius: 1vw;
    overflow: visible;
    margin: 1vw;
    padding: 2vw;
    font-size:1.6em;
    line-height: 1.6em;
    position: relative;
}

.scroll-card button.badge {
    position:absolute;
    height: 6vw;
    width: 6vw;
    border-radius:3vw;
    right:-18px;
    top:-18px;
    background: #FFFFFF;
}

.scroll-card button.badge.done {
    background: #FF0266;
}

.scroll-card .title {
    font-size: 3.2vw;
    line-height: 5.4vw;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

input {
    border: none;
    outline: none;
    background-color: #EDEDED;
    border-radius: 4px;
    padding: 0px 0px 0px 1vw;
}